version: '3'
services:
  db:
    image: mysql:5.7
    environment:
      MYSQL_ROOT_PASSWORD: password
    volumes:
      - db-data:/var/lib/mysql
    ports:
      - "3306:3306"

  # web:
  #   build: ./nginx
  #   ports:
  #     - 80:80

volumes:
  db-data:
